<%- include('partials/header') %>
    <%- include('partials/navigation') %> 
    <h1>List of Subjects</h1>
    <a href="/">Back to Home</a>
    <table border="1">
        <thead>
            <th>ID</th>
            <th>Subject Name</th>
        </thead>
        <tbody>
            <%  data.forEach(element => { %>
                <tr>
                    <td><%= element.id %></td>
                    <td><%= element.subject_name %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<%- include('partials/footer') %> 